---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Publicado por {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} en
                    {% assign m = page.date | date: "%-m" %}
                    {{ page.date | date: "%-d" }}
                    {% case m %}
                      {% when '1' %}Enero
                      {% when '2' %}Febrero
                      {% when '3' %}Marzo
                      {% when '4' %}Abril
                      {% when '5' %}Mayo
                      {% when '6' %}Junio
                      {% when '7' %}Julio
                      {% when '8' %}Agosto
                      {% when '9' %}Septiembre
                      {% when '10' %}Octubre
                      {% when '11' %}Noviembre
                      {% when '12' %}Diciembre
                    {% endcase %}
                    {{ page.date | date: "%Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				{{ content }}

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Entrada Anterior</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Próxima Entrada &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</article>

<hr>
